/*
 * -------------------------------------------------
 *   Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs

params {

	salmon_index        = false
	single_end          = false
	help         	    = false
	monochrome_logs     = false
	salmon_index 	    = false
	outdir 			    = './results'
	cpus                = 6
	version             = '1.0.0'


	name = false
	multiqc_config = false
	email = false
	email_on_fail = false
	max_multiqc_email_size = 25.MB
	plaintext_email = false
}